{% extends "chat/index.html" %}

{% block content %}
    <h2>dialog.html</h2>
    <h3>Your remarkable dialogs:</h3>
    {% for dialog_with_block_info in object_list %}

    <a href="/messages/?dialog_id={{dialog_with_block_info.dialog.id}}">
        <p4>{{dialog_with_block_info.dialog.start_time}}:
            {% for companion in dialog_with_block_info.dialog.users.all %}
                {% if companion.id != user.id %}
                    {{companion.username}}
                    {% if dialog_with_block_info.blocked %}
                    <a href="{% url 'blacklist_update_name' %}?username={{companion.username}}">Unblock</a>
                    {% else %}
                    <a href="{% url 'blacklist_update_name' %}?username={{companion.username}}&add=true">Block</a>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </p4>
        <br>
    </a>
    {% endfor %}

    <a href="{% url 'users_search_name' %}">
        <p4>New dialog</p4>
    </a>
{% endblock %}