<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The index</title>
</head>
<body>
<!--    <h1>index.html</h1>-->
    <p>

    {% if request.user.is_authenticated %}
        <a href="/accounts/logout/">Log out</a>
        <a href="{% url 'dialogs_name' %}">Dialogs</a>
    {% else %}
        <a href="{% url 'register_name' %}">Register</a>
        <a href="/accounts/login/">Log in</a>
    {% endif %}

    </p>
    {% if request.user.is_authenticated %}
    <h2>Your name is {{ request.user.username }}</h2>
    {% else %}
    <h2>You are not logged in.</h2>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>